
<div class="dialogue">
<h3 text-align ="center">You can submit your assignments here!</h3>
</div>

<div class = 'weeks'>
    <label for = "weeks">
        Select Week:
    </label>
    <select id="weeks" name="weeks">
        <option value="1">Week-1</option>
        <option value="2">Week-2</option>
        <option value="3">Week-3</option>
        <option value="4">Week-4</option>
    </select>
    <p>specify a file, or a set of files:</p>
    <input type="file" name="datafile">

</div>

<div class="btn">
    <button>submit</button>
</div>





